body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.companyName{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    font-size: 35px;
}
.companyName span{
    color: green;
}
.nav {
    margin-left: 10px;
    text-decoration: none;
    color: purple;
    font-size: 16px;
}
.container {
    display: flex;
    margin-top: 60px;
    background-color: #f9f9f9;
}
.sidebar {
    width: 280px;
    padding: 10px;
    margin-left: 50px;
}
.sidebar ul {
    list-style-type: disc;
    padding-left: 20px;

}
.sidebar ul li{
    margin-bottom: 5px;
}
.sidebar ul li a {
    text-decoration: none;
    color: purple;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    min-height: 300px;
}
.footer {
    text-align: center;
    padding: 10px;
    margin-top: 320px;
}