*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 100%;
    margin: auto;
    max-height: 90vh;
}

.headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.companyName{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    font-size: 35px;
}
.companyName span{
    color: green;
}
.navBar{
    margin-right: 20px;
    font-size: 18px;
    display: flex;
    justify-content: end;
    align-items: right;

}

.navBar a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}
.content {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top:200px;
    min-height: 200px;
}
.footer p{
    text-align: center;
    padding: 10px;
    margin-top: 300px;
}