
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 0.3px solid #81c5eb;
    background: rgba(255, 255, 255, 0.3);
    
}
.headerName h2 a{
    text-decoration: none;
    color: #000000;
}
.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 60px;

}
.nav-menu ul li a:hover{
    background-color: #81c5eb;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
}
.headerName h2{ 
    font-size: 30px;
    padding: 10px;
}
#active{
    background-color: #81c5eb;
    color: #ffffff;
    border-radius: 10px;

}


.form {
    width: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.fullwidth {
    align-items: center;
    text-align: center;
}
.formpart{
    display: flex;
    padding: 20px;
    text-align: right;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin: auto;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formpart label{
    font-weight: bold;
    color: #000000;
    flex-basis: 180px;
    margin-top: 5px;
}
.formpart input{
    width: 40%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
#reason{
    width: 42%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
.formpart p{
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
    display: inline;
}

.radio-group {
    display: flex;
    gap: 30px; 
    align-items: center;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap; 
    font-size: 18px;
    font-weight: normal;
}

.submitbtn{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #81c5eb;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.submitbtn:hover{
    background-color: #81c5eb;
    color: #ffffff;
    transition: 0.5s;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin-top: 150px;
    
}
.footer ul{
    display: flex;
    gap: 30px;

}

.footer ul li {
    display: inline-flex;
}

.footer ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;

}
.socialLinks li a img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}